<div id="home">
  <div class="container">
    <div class="row"><!--outer row to hold two columns-->
    <div id="root" class="col-16"><!--outer column-->

      <div class="row"><!--inner row-->
      <div class="col-6"><!--left column 30% of page-->
        <div class="row"><!--to-do-list-->
          <div id="todoDiv" class="header">
            <h2 style="margin:5px">My To Do List</h2>
            <input type="text" name="todoName" id="todoName" placeholder="Add A To Do...">
            <input type="text" name="todoDate" id="todoDate" placeholder="date as mm/dd/yyyy">
            <input type="text" name="todoInfo" id="todoInfo" placeholder="comments">
            <input type="text" name="todoLocation" id="todoLocation" placeholder="location (optional)">
            <button id="todoButton" class="addBtn">Add</button>
          </div>
          <ul id="todoUL" class="list-group">
                {{> todos/todolist-block }}
          </ul>
        </div><!--end row for to-do-list-->

        <div class="row"><!--shopping-list-->
          <div id="shoppingDiv" class="header">
            <h2 style="margin:5px">Shopping List</h2>
            <input type="text" name="shoppingName" id="shoppingName" placeholder="Add to shopping list..." />
            <input type="text" name="shoppingQuantity" id="shoppingQuantity" placeholder="quantity" />
            <input type="text" name="shoppingLocation" id="shoppingLocation" placeholder="location (store)" />
            <button id="shoppingButton" class="addBtn">Add</button>
          </div>
          <ul id="shoppingUL" class="list-group">
              {{> shopping/shopping-block }}
          </ul>
        </div><!--end row for shopping list-->
      </div><!--end left column 30% of page-->

      <div class="col-10"><!--right column 70% of page-->
        <div class="row">  
          <div id="calendarDiv" class="header">
            <h2 style="margin:5px">Calendar</h2>
            <input type="text" name="calendarName" id="calendarName" placeholder="Add an Event...">
            <input type="text" name="calendarDate" id="calendarDate" placeholder="date as mm/dd/yyyy">
            <input type="text" name="calendarInfo" id="calendarInfo" placeholder="comments">
            <input type="text" name="calendarLocation" id="calendarLocation" placeholder="location (optional)">
            <button id="calendarButton" class="addBtn">Add</button>
          </div>
          <ul id="calendarUL" class="list-group">
            {{#each calendars}}
              {{> calendars/calendar-block }}
            {{/each}}
          </ul>
        </div>
      </div><!--end right column 70% of page-->
    </div><!--end inner row-->

    </div><!--end outer column-->
    </div><!--end outer row-->

  </div><!--end container-->
</div><!--end home-->