*{
    padding: 0;
    margin: 0;


}

.wrapper {
    background-image: url('../images/iphone-410311_1280.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

.btn-lg {
    height: 500px;
    width: 300px;
    font-size: 50px;
}


#title {

    text-align:center;
    
}

.jumbotron {
    padding: 200px;
    background-image: url('../images/background-2462434_1920.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;


}

#main-text {
    text-align: center;
}

.header{

    background-image: url('../images/calendar-background.jpg');
    background-size: 50%;
}

.footer-copyright {

text-align: center;
}

.footer-copyright  {
    display: flex;
  padding: 400px;
    flex-direction: column;

}

.page-footer {
    flex: 1 0 auto;
}

.card-img-top {
    border-radius: 50%;
}

.main3 {

    text-align: left;
    word-wrap: normal;
}

.intro {

}

.title {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;


}

.icon {
    background-image: url('../images/ultimate\ calendar2.png');
    background-repeat: no-repeat;
    width: 100%;
    padding: 450px;
    background-position: center;
    
    text-align: center;
    
}

