
  <li data-id="{{this.id}}" class="list-group-item">
            <b>Item:</b> {{List_Name}}
            <br /> <b>Store:</b> {{List_Location}}
            <br /> <b>Quantity:</b> {{List_Quantity}}
  </li>

